apiVersion: v1
kind: Service
metadata:
  name: {{ include "mas-iam-stack.fullname" . }}
  labels:
    {{- include "mas-iam-stack.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "mas-iam-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
