name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  helm-chart-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Verify single-source Helm chart
        run: make lint
